<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="engine"
>
<head>
    <meta charset="UTF-8">
    <title>Liste Employees</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-2">
        <a th:href="@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3"> Add Employee</a>
        <div class="card">
            <div class="card-header">Listes des Employées</div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee:${listEmployees}"><!--list_employees-->
                        <td th:text="${employee.firstName}">FistName</td>
                        <td th:text="${employee.lastName}">LastName</td>
                        <td th:text="${employee.email}">Email</td>
                        <td>
                            <a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-primary">Update</a>
                            <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div th:if="${totalPages > 1}">
                    <div class="row col-sm-10">
                        <div class="col-sm-2">
                            Total rows: [[${totalItems}]]
                        </div>
                        <div class="col-sm-1">
                             <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                 <a th:if="${currentPage != i}" th:href="@{'/page/'+ ${i}}">[[${i}]]</a>
                                 <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                             </span>
                        </div>
                        <div class="col-sm-1">
                            <a th:if="${currentPage < totalPages}" th:href="@{'/page/' +${currentPage+1} } ">Next</a>
                            <span th:unless="${currentPage < totalPages}" >Next</span>
                        </div>

                        <div class="col-sm-1">
                            <a th:if="${currentPage < totalPages}" th:href="@{'/page/' +${totalPages}}">Last</a>
                            <span th:unless="${currentPage < totalPages}" >Last</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>