<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="engine"
>
<head>
    <meta charset="UTF-8">
    <title>Liste Employees</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="container mt-2">
        <a th:href="@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3"> Add Employee</a>
        <div class="card">
            <div class="card-header">Listes des Employées</div>
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee:${list_employees}">
                        <td th:text="${employee.firstName}">FistName</td>
                        <td th:text="${employee.lastName}">LastName</td>
                        <td th:text="${employee.email}">Email</td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page,status:${pages}">
                        <a th:class="${status.index==currentPage?'btn btn-primary ms-1':'btn btn-outline-primary ms-1'}" th:text="${status.index}"
                           th:href="@{/user/index(page=${status.index}, keyword=${keyword})}">page</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

</body>
</html>