<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="engine"
>
<head>
    <meta charset="UTF-8">
    <title>Form Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
    <div class="col-md-6 offset-3">
        <form method="post"  th:action="@{/showNewEmployeeForm}">
            <div>
                <label for="firstname">Fist Name</label>
                <input id="firstname" class="form-control" type="text" name="firstname" th:value="${employee.firstName}">

            </div>

            <div>
                <label for="lastname">Fist Name</label>
                <input id="lastname" class="form-control" type="text" name="lastname" th:value="${employee.lastName}">

            </div>

            <div>
                <label for="email">Email Adress</label>
                <input id="email" class="form-control" type="text" name="email" th:value="${employee.email}">

            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

</body>
</html>